<% if (page.nocomment) { %>
<div class="w3-center w3-opacity w3-padding-24"><%= __('comments.notips') %></div>   
<% }else{ %>
<div id="comments">
    <div id="gitalk-container"></div>
</div>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '<%= theme.gitalk.clientID %>',
        clientSecret: '<%= theme.gitalk.clientSecret %>',
        id: window.location.pathname,
        repo: '<%= theme.gitalk.repo %>',
        owner: '<%= theme.gitalk.owner %>',
        admin: '<%= theme.gitalk.admin %>'
    })
    gitalk.render('gitalk-container');
</script>
<% } %>
