<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 
<% var title = page.title
var description = page.description
var keywords = page.keywords

if (is_archive()){
    title = __('archive_a');
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
}
if (is_post())
{
    var resultStr = strip_html(page.content).substring(0, 120).replace(/\ +/g, "");
    resultStr = resultStr.replace(/[ ]/g, "");   
    resultStr = resultStr.replace(/[\r\n]/g, "");
    if(resultStr.length > 100){resultStr = resultStr + '...'}
    description = resultStr; 
}else{
    var resultStr = strip_html(page.content).substring(0, 120).replace(/\ +/g, "");
    resultStr = resultStr.replace(/[ ]/g, "");   
    resultStr = resultStr.replace(/[\r\n]/g, "");
    if(resultStr.length > 100){resultStr = resultStr + '...'}
    description = resultStr; 
}
if (is_category()){
    title = __('category') + ': ' + page.category;
    if(config.language == 'zh-CN'){
        description = config.title + __('seosite') + page.category + __('category') + '。';
    }else{
        description = config.title + ' ' + __('seosite') + ' ' + page.category + ' ' + __('category') + '.';
    }
    keywords = page.category + ',' + config.keywords + ','
}
if (is_tag()){
    title = __('tag') + ': ' + page.tag;
    if(config.language == 'zh-CN'){
        description = config.title + __('seosite') + page.tag + __('tag') + '。';
    }else{
        description = config.title + ' ' + __('seosite') + ' ' + page.tag + ' ' + __('tag') + '.';
    }
    keywords = page.tag + ',' + config.keywords + ','
    
}
if (is_home()){
    description = config.description
    keywords = config.keywords
}


%>
<title><% if (title){ %><%= __(title) %> - <% } %><%= config.title %></title>
<meta name="description" content="<%- description %>" />
<meta name="keywords" content="<%- keywords %><% if (is_post()){ page.tags.map(function(tag) {  %><%= tag.name %>,<% });} %><%= config.title %>" />
<link rel="icon" type="image/png" href="<%= theme.favicon %>">
<link rel="stylesheet" href="/Ts/css/w3.css">
<link rel="stylesheet" href="/Ts/css/monokai-sublime.min.css">
<link rel="stylesheet" href="/Ts/css/viewer.min.css">
<script src="/Ts/js/viewer.min.js" ></script>
<link rel="stylesheet" href="/Ts/css/tamshen.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>var searchpage = '<%= theme.searchpage %>';var searchjson = '<%= theme.searchjson %>';</script>