<div class="w3-row">
    <div class="w3-margin-top">

        <% page.posts.forEach(post => { %>

            <div class="w3-col s12 m6 l6">

                <div class="index-card">
                    <a href="<%- url_for(post.path) %>">
                        <div class="index-shadow">


                            <div class="index-img">
                                <% if (post.img) { %>

                                    <img src="<%= post.img %>" alt="<%- post.title %>">

                                    <% } else { %>
                                        <%
                     var num=Math.floor(Math.random()*theme.noimg.length);
                     lst = theme.noimg[num];
                     %>
                                            <img src="<%- lst %>" alt="<%- post.title %>">
                                            <% } %>
                            </div>

                            <div class="w3-white">
                                <div class="w3-container w3-padding-8">
                                    <div class="index-title" title="<%- post.title %>">
                                        <%- post.title %>
                                    </div>
                                    <div class="index-subtitile">

                                        <%= date(post.date, config.date_format) %>

                                    </div>
                                </div>
                                <div class="w3-container">
                                    <div class="index-text">
                                        <%- strip_html(post.content).substring(0, 50);%>
                                            <% if(strip_html(post.content).length > 50){ %>…
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <% }); %>



    </div>
</div>

<% 
    if (page.total > 1){
        if(page.prev){ %>
    <div class="index-page">
        <div class="w3-center index-page-next">
            <% var prev_text = __('«');var next_text = __('»')%>
                <%- paginator({
            prev_text: prev_text,
            next_text: next_text
        }) %>
        </div>
    </div>
    <% }else{%>
        <div class="index-page">
            <div class="w3-center index-page-next">
                <a href="<%- page.next_link %>">
                    <svg t="1556975564049" class="icon" style="width: 1.3em; height: 1.3em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9093"><path d="M961.6 537.6H43.2c-17.6 0-32-14.4-32-32s14.4-32 32-32h918.4c17.6 0 32 14.4 32 32s-14.4 32-32 32z" fill="#888888" p-id="9094"></path><path d="M979.2 537.6c-8 0-16-3.2-22.4-9.6L571.2 128c-12.8-12.8-11.2-33.6 0-44.8 12.8-12.8 33.6-11.2 44.8 0l385.6 400c12.8 12.8 11.2 33.6 0 44.8-6.4 6.4-14.4 9.6-22.4 9.6z" fill="#888888" p-id="9095"></path><path d="M593.6 931.2c-8 0-16-3.2-22.4-9.6-12.8-12.8-12.8-32 0-44.8l385.6-392c12.8-12.8 32-12.8 44.8 0 12.8 12.8 12.8 32 0 44.8L616 921.6c-6.4 6.4-14.4 9.6-22.4 9.6z" fill="#888888" p-id="9096"></path></svg>
                </a>
            </div>
        </div>
        <% }} %>