<div class="page-links page-container w3-container">
        <div class="page-links-title w3-center"><%= page.title %></div>

        <div class="link_list">
                <% page.linksdata.forEach(link => { %>
                <div class="item">
                        <a href="<%= link.url %>" target="_blank" title="<%= link.name %>">
                                <div class="images"
                                        style="background-image:url(<%= link.img %>)">
                                        <div class="titlebox">
                                                <div class="title">
                                                        <div class="t"><%= link.name %></div>
                                                        <div class="d"><%= link.info %></div>
                                                </div>
                                        </div>
                                </div>
                        </a>
                </div>

                <% }); %>
        </div>
        <div class="article"><%- page.content %></div>
        <div class="w3-margin-top">
                <%- partial('_tamshen/comment')  %>
        </div>
</div>