<div class="page-container">
    <div class="w3-white post-article">
        <div class="">

            <div class="w3-container article" id="article_viewer">


                <%- page.content %>





            </div>
            <div class="article-prev w3-container">
                <div class="w3-row">
                    <div class="w3-col l6">
                        <% if(page.prev){ %>
                        <div class="prev-box w3-margin-4">
                            <a href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>">
                                <div class="prev-img" style="background-image: url(<%= page.prev.img %>);"></div>
                                <div class="prev-title"><%= page.prev.title %></div>
                                <div class="prev-text"><%= __('post.Previous') %></div>
                            </a>
                        </div>
                        <% } %>
                    </div>
                    <div class="w3-col l6 ">
                        <% if(page.next){ %>
                        <div class="prev-box w3-margin-4">
                            <a href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>">
                                <div class="prev-img" style="background-image: url(<%= page.next.img %>);"></div>
                                <div class="prev-title"><%= page.next.title %></div>
                                <div class="prev-text"><%= __('post.Next') %></div>
                            </a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>

        <div class="w3-container">
            <%- partial('_tamshen/comment')  %>

        </div>


    </div>
</div>
