<% if(page.author && page.author.length > 0) { 
    zzauthor = page.author;
    zzauthorurl  = page.siteurl;
    url_target = 'target="_blank"';
} else {
    zzauthor = config.author;
    zzauthorurl  = config.url;
    url_target = '';
 } 
 %>
<div class="w3-col l9 s12 ">
    <div class="w3-white post-article">
        <div class="">
            <div class="w3-container w3-padding-8">
                <!-- <div class="link w3-p-y-16">
                        <a href="<%- config.url %>">首页</a>
                        <span>›</span>
                        <a href="">
                            <% if (page.categories && page.categories.length){ %>
                                <%- list_categories(page.categories, {
                                                        show_count: false,
                                                        class: '',
                                                        style: 'none',
                                                        separator: ', '
                                                      }) %>
                                    <% } %>
                        </a>
                        <span>›</span>
                        <a class="c">
                            <%- page.title %>
                        </a>
                    </div> -->
                <div class="article-title">
                    <%- page.title %>
                </div>
                <div class="article-author">
                    <a href="<%- zzauthorurl %>" <%- url_target %> > 
                        <%- zzauthor %>
                    </a>,

                    <%- date(page.date, 'YYYY-MM-DD hh:mm:ss') %>
                    <% if (page.categories && page.categories.length){ %>
                    ,
                    <%- list_categories(page.categories, {
                                    show_count: false,
                                    class: '',
                                    style: 'none',
                                    separator: ', '
                                  }) %>
                    <% } %>

                </div>
                <div class="line"></div>


            </div>
            <div class="w3-container article" id="article_viewer">


                <%- page.content %>
          
                



            </div>
            <div class="article-prev w3-container">
                <div class="w3-row">
                    

                    <div class="w3-col <% if(page.next){%> l6 <%}%>">



                        <% if(page.prev){ %>
                        <div class="prev-box w3-margin-4">
                            <a href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>">
                                <div class="prev-img" style="background-image: url(<%= page.prev.img %>);"></div>
                                <div class="prev-title"><%= page.prev.title %></div>
                                    <div class="prev-text"><%= __('post.Previous') %></div>
                            </a>
                        </div> 
                        <% }else{ %>
                           
                        <% } %>
                    </div>
                    
                    
                        <div class="w3-col <% if(page.prev){%> l6 <%}%>">
                    

                    
                        <% if(page.next){ %>
                            <div class="prev-box w3-margin-4">
                                <a href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>">
                                    <div class="prev-img" style="background-image: url(<%= page.next.img %>);"></div>
                                    <div class="prev-title"><%= page.next.title %></div>
                                        <div class="prev-text"><%= __('post.Next') %></div>
                                </a>
                            </div> 
                        <% }else{ %>
                            
                        <% } %>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="w3-container">
        <%- partial('_tamshen/comment')  %>

    </div>


    </div>
</div>
<div class="w3-col l3 w3-hide-medium w3-hide-small sidebar">
    <div class="sidebar-item sidebar-item-t0 w3-margin">
        <div class="sidebar-search">
            <div class="w3-row">
                <form action="<%= theme.searchpage %>" method="get" onsubmit="return SearchGet();">
                    <div class="w3-col" style="width:85%">
                        <input class="w3-input w3-border" type="text" id="Searchtext" name="Searchtext">
                    </div>
                    <div class="w3-rest">
                        <button class="w3-btn w3-btn-block searchbtn">
                            <svg t="1583160858223" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" p-id="3946" width="100%" height="100%">
                                <path
                                    d="M685.6 660.336l155.152 155.168a16 16 0 0 1 0 22.624l-11.312 11.328a16 16 0 0 1-22.624 0l-158.528-158.544a289.792 289.792 0 0 1-165.152 51.36C322.336 742.256 192 611.904 192 451.12 192 290.336 322.336 160 483.136 160c160.784 0 291.12 130.336 291.12 291.136 0 82.112-33.984 156.272-88.672 209.2z m-202.464 33.92c134.272 0 243.12-108.848 243.12-243.12C726.256 316.848 617.408 208 483.136 208 348.848 208 240 316.848 240 451.136c0 134.272 108.848 243.12 243.136 243.12z"
                                    p-id="3947" fill="#ffffff" data-spm-anchor-id="a313x.7781069.0.i0" class="selected">
                                </path>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% if (toc(page.content, {list_number: false}).length > 0) { %>
    <div class="sidebar-item w3-margin" id="toc">
        <!-- <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span> -->
        <div class="sidebar-title"><%= __('toc.toc') %></div>
        <div class="toc-list">
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </div>
    <% } %>
    <% if (theme.newpost.enable) { %>
    <div class="sidebar-item w3-margin">
        <div class="sidebar-title"><%= __('sidebar.newpost') %></div>
        <ul class="nwepost-list">
            <% dqquantity = theme.newpost.quantity; %>
            <% site.posts.sort('date', -1).limit(dqquantity).each(function(post){ %>
            <li>
                <a class="golink" href="<%- url_for(post.path) %>"
                    title="<%= post.title %> - <%= date(post.date, config.date_format) %>">
                    <%= post.title %>
                </a></li>
            <% }) %>
        </ul>
    </div>
    <% } %>
    <% if (theme.tags.enable) { %>
    <div class="sidebar-item w3-margin">
        <div class="sidebar-title"><%= __('sidebar.tags') %></div>
        <%- list_tags({show_count: theme.show_count}) %>
    </div>
    <% } %>

</div>