<div class="w3-col l3 w3-hide-medium w3-hide-small sidebar">
    <!-- me -->
    <% if (theme.me.enable) { %>
    <div class=" w3-margin w3-margin-top">
        <img src="<%= theme.me.img %>" style="width:100%">
        <div class="w3-container w3-white">
            <h4><b><%= theme.me.name %></b></h4>
            <p><%= theme.me.text %></p>
        </div>
    </div>
    <hr>
    <% } %>
    <!-- hotpost -->
    <% if (theme.newpost.enable) { %>
    <div class=" w3-margin">
        <div class="w3-container w3-padding">
            <h4><%= __('sidebar.newpost') %></h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <% dqquantity = theme.newpost.quantity; %>
            <% site.posts.sort('date', -1).limit(dqquantity).each(function(post){ %>
                <% if (post.img) { 
                    lst = post.img;
                 } else { 
                    var num=Math.floor(Math.random()*theme.+0);
                    lst = theme.noimg[num];
                 } %>
            <li class="w3-padding-16">
                <a href="<%- url_for(post.path) %>" title="<%= post.title %>">
                    <div class="newpost-img" style="background-image:url(<%- lst %>); ">
                    </div>
                        <span class="w3-large"><%= strip_html(post.title).substring(0, 12) || '(no title)' %><% if(post.title.length > 12){ %>...<% } %></span>
                    <br>
                    <span><%= date(post.date, 'MMMM D, YYYY') %></span>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
    <hr>
    <% } %>
    <!-- tags -->
    <% if (theme.tags.enable) { %>
    <div class=" w3-margin">
        <div class="w3-container w3-padding">
            <h4><%= __('sidebar.tags') %></h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                <%- list_tags({show_count: theme.show_count}) %>  
            </p>
        </div>
    </div>
    <% } %>
</div>